.home-page {
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
 .hero-section {
   /* background-image: url('/images/foodalger.jpg');*/
    padding:  20px;
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 300px;
    width: auto;
    display: block;
    margin: 0 auto;
    
    text-align: center;
    color: white;
  }
  
  
  
  .popular-dishes-section {
    padding: 60px 20px;
    color: rgb(62, 86, 153);
  }
  
  .about-preview-section {
    padding: 60px 20px;
    background-color: #f0f0f0;
  }
  
  .section-title {
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-align: center;
    color: rgb(34, 84, 194);
  }
  
  .btn {
    padding: 20px 30px;
    margin: 10px;
    background-color:rgb(29, 52, 153);
    color:beige;
   font-weight:bold;
   font-size:18px;
  }
  
 .loading {
    text-align: center;
    font-size: 1.2rem;
    padding: 20px;
  }